<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>0hh Website Template | Home :: W3layouts</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel=stylesheet type=text/css media="all" href="{{ url_for('static', filename='css/404-style.css') }}">
</head>
<body>
<!--start-wrap--->
<div class="wrap">
    <!---start-header---->
    <div class="header">
        <div class="logo">
            <h1><a href="#">Ohh</a></h1>
        </div>
    </div>
    <!---End-header---->
    <!--start-content------>
    <div class="content">
        <img src={{ url_for('static', filename='img/error-img.png') }} title="error"/>

        <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
        <a href="/">Back To Home</a>


    </div>
    <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
</html>

