{% extends "base.html" %}
{% block head %}
    <link rel=stylesheet type=text/css media="all" href="{{ url_for('static', filename='css/404-style.css') }}">
{% endblock %}
{% block body %}
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Ohh</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src={{ url_for('static', filename='img/error-img.png') }} title="error"/>

            <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
            <a href="/">Back To Home</a>


        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
{% endblock %}
{% block script %}

{% endblock %}
