<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='add_style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<form action={{ url_for('add') }} method="post">

    <h1>Add New Activity</h1>

    <fieldset>
        <legend><span class="number">1</span>please fill in the info</legend>
        <label for="amount">How Much:</label>
        <input type="number" step="0.01" min='0' id="amount" name="amount" required>

        <label for="date">Date:</label>
        <input type="text" id="date" name="date">

    </fieldset>

    <fieldset>
        <label for="msg">Message:</label>
        <textarea id="msg" name="msg" required></textarea>
    </fieldset>
    <fieldset>


        <label>Who:</label>
        {% for k,v in dic.iteritems() %}
            <input type="checkbox" id={{ k }} value={{ k }} name="who"><label class="light"
                                                                              for={{ k }}>{{ v }}</label>*
            <input type="text" class="cnt" name={{ "cnt"+k }} value="1"> Portition
            <br>
        {% endfor %}


    </fieldset>
    <button type="submit">Submit</button>
</form>

</body>
</html>