{% extends "base2.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="/static/main_style.css">
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}


{% block body %}

    <form action={{ url_for('admin') }} method="get">
        <input type="text" placeholder="group name" name="group_name">
        <input type="submit" value="go to the group">
    </form>
    <h2>All Groups</h2>
    {% for g in groups %}
        <div>
            <a href="{{ url_for('admin_group',group_name=g) }}">{{ g }}</a>
        </div>
    {% endfor %}
{% endblock %}