<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
{% block link %}
{% endblock %}
<head lang="en">
    <meta charset="UTF-8">
    <title>看得淡财务管理系统</title>
</head>
<body>
{% block body %}
{% endblock %}
<script src={{ url_for('static', filename='js/jquery.js') }}></script>
<script src={{ url_for('static', filename='js/jquery.easing.min.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
</body>
</html>