{% extends "base2.html" %}
{% block head %}
    <link rel=stylesheet type=text/css href="/static/login_style.css">
{% endblock %}
{% block body %}

    <div class="wrapper">

        <div class="container">

            <h1>Welcome</h1>

            <form class="form" method="post" action={{ url_for("login") }}>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="failmsg"> {{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" name="username" required placeholder="Username"
                       value="{{ request.form['username'] }}">
                <input type="password" name="password" required placeholder="Password">

                <button type="submit" id="login-button">Login</button>
                <a href={{ url_for("signup") }}>
                    <button type="button" id="signup-button">SignUp</button>
                </a>
            </form>
            <p>
                Lily lives with 3 other girls in one apartment. It is very common that one girl buys something that is
                shared with all others. But, as the time goes on, they find it more and more difficult to keep track of
                how much they owe each other. If you have the same trouble as Lily has, this is the website that will
                make your life easier.
            </p>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block script %}

{% endblock %}
