{% extends "base.html" %}
{% block body %}
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="failmsg"> {{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    <form class="form" method="post" action={{ url_for("setting_change_password") }}>

    请输入旧密码：
    <input type="password" required  id="old_password" name="old_password" placeholder="旧的密码"
                                             autocomplete="off" value="{{ request.form['password'] }}">
        <br>
        <br>
        请输入新密码：
        <input type="password" required  id="new_password" name="new_password" placeholder="新的密码"
                                             autocomplete="off" value="{{ request.form['password'] }}">
        <br>
        <br>
        请确认新密码：
        <input type="password" required  id="new_password2" name="new_password2" placeholder="新的密码"
                                             autocomplete="off" value="{{ request.form['password'] }}">

			<input type="submit" value="confirm" onclick="return check()">
    </form>
    <script type="text/javascript">
            function check(){
                var message=confirm("are you sure to change password?");
                console.log(message);
                return message;
            }
    </script>

{% endblock %}