{% extends "base2.html" %}
{% block head %}
    <link rel=stylesheet type=text/css href="/static/css/signup_style.css">
{% endblock %}
{% block body %}
    <!--
    Design register pure CSS
    Developed by @mrjopino
    -->
    <p class="texto">Register</p>

    <div class="Register">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="failmsg"> {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="form" id="signup_form" method="post" action={{ url_for("signup") }}>

            <span class="fontawesome-user"></span><input type="text" required placeholder="用户名" name="username"
                                                         id="username" autocomplete="off"
                                                         value="{{ request.form['username'] }}">
            <span class="fontawesome-user"></span><input type="text" required id="screenname" name="screenname"
                                                         placeholder="昵称"
                                                         autocomplete="off" value="{{ request.form['screenname'] }}">
            <span class="fontawesome-lock"></span><input type="password" id="pass1" name="password" id="password"
                                                         required
                                                         placeholder="密码" autocomplete="off">
            <span class="fontawesome-lock"></span><input type="password" id="pass2" name="repeat password" required
                                                         autocomplete="off"
                                                         placeholder="确认密码">

            <input type="submit" value="Register">

            <a href="{{ url_for('login') }}"><input class="cancel" type="button" value="Cancel"> </a>


        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/signup.js"></script>
{% endblock %}